.sidebar {
    background-color: rgba(80, 141, 222);
    color: white;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 30px 30px 30px;
    grid-row-gap: 1.5rem;
    
    justify-content: space-around;
    justify-items: left;
    
    align-items: center;

    font-size: 1.6rem;

    transition: width 1s;
}

.iconPlus {
    width: 20px;
    height: 20px;
}

.title {
    padding: 1rem;
}