.iconBox {
  height: 2.7rem;
  background-color: transparent;
  fill: white;
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .iconBox {
    height: 2.1rem;
    margin-right: .5rem;
  }
}

.iconPlus {
  height: 3rem;
  fill: rgb(62, 36, 143);
  transform: translateY(0.2rem) rotate(45deg);
}

.iconChevron {
  height: 2rem;
  fill: white;
  background-color: transparent;
  transition: all 1s;
}

.profile {
  display: block;
  justify-self: center;

  height: 100%;
}

.tree {
  justify-self: end;
  height: 100%;
  width: auto;
}
