*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-color: #f7f7f7;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  
@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}