.addTodo {
  display: grid;

  grid-template-rows: 30vh max-content max-content;
  grid-template-columns: 1fr;

  justify-items: center;
}

.addTodo ul {
  list-style: none;
  width: 100%;
}

.addTodo section {
  justify-self: start;
}

.background {
  background-image: url("../../img/table.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;

  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  align-content: center;

  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: 100%;

  justify-content: center;
  align-content: space-between;

  transition: 1s;
}

.background h2 {
  font-size: 4rem;
  margin: 1.5rem;
  color: white;
  justify-self: center;
}

form {
  width: 100%;
  margin-top: 1rem;
  display: grid;

  grid-template-rows: max-content;

  grid-row-gap: 1rem;
}

input {
  display: block;
  width: 25%;
  margin: auto;
  border: none;
  border-bottom: 2px solid rgb(121, 182, 242);
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 4px;
  background-color: transparent;
  color:rgb(77, 77, 77)
}

input::placeholder {
  color: rgb(121, 182, 242);
  font-size: 2rem;
}

input:focus {
  outline: none;
}

.formBtn {
  background-color: rgba(80, 141, 222);
  border: none;
  font-size: 1.3rem;
  color: white;
  padding: 1rem 2rem;
  border-radius: 10rem;
  width: max-content;

  justify-self: center;

  transition: .2s;
}

.formBtn:hover {
  background-color: rgb(140, 175, 221);
  border: none;
}

.formBtn:active {
  background-color: blue;
}

.hideBtn {
  justify-self: start;
  padding: 0.5rem 0.7rem;
  width: max-content;
  border: none;
  margin-top: 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(80, 141, 222);
}


