.li {
  font-size: 2rem;
  margin: 1rem;
  width: 100%;
  display: grid;
  
  grid-template-columns: max-content max-content;
  grid-template-rows: 4rem;

  justify-content: start;
  align-items: center;
}

.text {
  color: rgb(77, 77, 77);
  font-size: 1.8rem;
}

@media (max-width: 700px) {
  .text {
      font-size: 1.5rem;
  }
}

.btn {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  margin: auto 0.5rem;

  transition: all 2s;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  opacity: 0;
}


