.button {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;


  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 2rem;
  padding-left: 1rem;

  border-radius: 4px;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: max-content;

  align-items: center;

  transition: all .3s;
}

.button:hover {
  cursor: pointer;
  transform: translateX(3px);
}

.button:active {
  transform: translateX(0);
}
