@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

.card {
    display: grid;
    grid-template-rows: minmax(100vh,100%);
    grid-template-columns: min-content 1fr;

    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%; /*1 rem = 10px; 10px/16px = 62.5%  -  root font size "rem" has been altered */
}
