.hideBtn {
    justify-self: start;
    padding: 0.5rem 0.7rem;
    width: max-content;
    border: none;
    margin-top: 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(80, 141, 222);
  }